.d-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.spacer {
    flex: 1 1;
}
.h-100 {
    height: 100%;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.widget-element {
    border: 1px solid #dee2e6 !important;
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
    text-align: center;
    cursor: move;
}
.widget-element-text {
    font-size: 14px;
    margin-top: 5px;
}
label.headline {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.drag-label {
    z-index: 1;
}
.drag-icon {
    z-index: -1;
}
.fs-14 {
    font-size: 14px;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
