.d-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.spacer {
    flex: 1 1;
}
.h-100 {
    height: 100%;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.widget-element {
    border: 1px solid #dee2e6 !important;
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
    text-align: center;
    cursor: move;
}
.widget-element-text {
    font-size: 14px;
    margin-top: 5px;
}
label.headline {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.drag-label {
    z-index: 1;
}
.drag-icon {
    z-index: -1;
}
.fs-14 {
    font-size: 14px;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
:root {
    --h1: 80px;
    --h2: 64px;
    --h3: 48px;
    --h4: 40px;
    --h5: 32px;
    --h6: 24px;
    --p1: 18px;
    --p2: 16px;
    --p3: 14px;
}
.h1 {
    font-size: var(--h1) !important;
}
.h2 {
    font-size: var(--h2) !important;
}
.h3 {
    font-size: var(--h3) !important;
}
.h4 {
    font-size: var(--h4) !important;
}
.h5 {
    font-size: var(--h5) !important;
}
.h5 {
    font-size: var(--h5) !important;
}
.p1 {
    font-size: var(--p1) !important;
}
.p2 {
    font-size: var(--p2) !important;
}
.p3 {
    font-size: var(--p3) !important;
}
/* @media screen and (min-width: 920px) {
    .h1 {
        font-size: 80px !important;
    }
    .h2 {
        font-size: 64px !important;
    }
    .h3 {
        font-size: 48px !important;
    }
    .h4 {
        font-size: 40px !important;
    }
    .h5 {
        font-size: 32px !important;
    }
    .h6 {
        font-size: 24px !important;
    }
    .p1 {
        font-size: 18px !important;
    }
    .p2 {
        font-size: 16px !important;
    }
    .p3 {
        font-size: 14px !important;
    }
}

@media (max-width: 920px) {
    .h1 {
        font-size: 44px !important;
    }
    .h2 {
        font-size: 36px !important;
    }
    .h3 {
        font-size: 32px !important;
    }
    .h4 {
        font-size: 28px !important;
    }
    .h5 {
        font-size: 24px !important;
    }
    .h6 {
        font-size: 20px !important;
    }
    .p1 {
        font-size: 18px !important;
    }
    .p2 {
        font-size: 16px !important;
    }
    .p3 {
        font-size: 14px !important;
    }
} */
.ProseMirror {
    outline: none;
    box-shadow: none;
}
.v-application ::v-deep a {
    color: inherit !important;
    text-decoration: none !important;
}
